* {
	list-style: none;
	padding-left: 0;
}

body {
	padding: 50px 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.parking-div {
	padding: 20px;
	display: inline-block;
	width: 25%;
	box-shadow: 5px 5px 15px lightgray;
	margin: 10px;
}