body {
	padding: 15%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock {
	background-color: #2e2e2e;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	border: 10px solid rgb(216, 216, 216);
	align-self: center;
	position: relative;
}

.center {
	width: 20px;
	height: 20px;
	background-color: rgb(216, 216, 216);
	border-radius: 15px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

.pointer {
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.pointer.hours {
    width: 10px;
    height: 50px;
	background-color: #e79248;
	transform: translateY(50%);
	transform: rotate(30deg);
	transform-origin: bottom center;
	margin-top: 30px;
}

.pointer.minutes {
	width: 8px;
    height: 80px;
	background-color: #135b54;
	transform: rotate(30deg);
	transform-origin: bottom center;
}

.pointer.seconds {
    width: 3px;
    height: 90px;
    background-color: white;
	transform: rotate(30deg);
	transform-origin: bottom center;
	margin-top: -10px;
}

.ref.bottom, .ref.top {
	height: 10px;
	width: 3px;
	background-color: white;
	left: 0;
    right: 0;
    margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.ref.top {
    top: 0;
}

.ref.bottom {
    bottom: 0;
}

.ref.left, .ref.right {
	height: 3px;
	width: 10px;
	background-color: white;
	transform: translateY(78px);
}

.ref.right {
	right: 0;
	position: absolute;
}


